@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Open Sans', 'Futura Std', Helvetica, 'Arial', sans-serif;
   color: var(--clr-drk-0);
   cursor: default;

   /* outline: 1px dashed #070; */
}

:root {

   --clr-lgh-0: #ffffff;
   --clr-lgh-1: #f1ebff;
   --clr-lgh-2: #c8b4f6;
   --clr-lgh-3: #8b81a3;
   --clr-lgh-4: #906aed;
   --clr-drk-0: #0d0818;
   --clr-drk-1: #0c0421;
   --clr-drk-2: #1f0a52;
   --clr-drk-3: #3b139d;
   --clr-drk-4: #28203c;
}

body {
   display: grid;
   grid-template-rows: auto 1fr;
   background-color: var(--clr-lgh-0);
   height: 100dvh;
}

/* Some resets */

a {
   text-decoration: none;
   cursor: pointer;
}

ul {
   list-style: none;
}

/* Header style */

header {
   display: grid;
   grid-template-columns: auto 1fr;
   border-bottom: 1px solid var(--clr-drk-2);
   padding: .5rem .75rem;
}

header .logo {
   background-image: url(../assets/logo_large_black.png);
   background-size: contain;
   aspect-ratio: 25 / 9;
   height: 3rem;

   filter: invert(10%) sepia(55%) saturate(6293%) hue-rotate(258deg) brightness(54%) contrast(104%);
}

nav {
   display: flex;
   justify-content: end;
   align-items: stretch;
   flex-wrap: wrap;
}

nav a {
   display: grid;
   color: var(--clr-drk-0);
   place-items: center;
   transition: .25s;
   padding: .5rem;
}

nav a:hover {
   color: var(--clr-drk-3);
   translate: 0 -2%;
}

nav a:active {
   color: var(--clr-lgh-4);
}

/* Main section style */

section {
   display: flex;
   flex-direction: column;
   overflow-y: auto;
}

main {
   flex-grow: 1;
}

/* Outras Páginas */

.error {
   display: grid;
   font-size: xx-large;
   place-content: center;
   text-align: center;
}

.downloads {
   display: grid;
   padding: 1rem;
   gap: 1rem;
}

.downloads div {
   display: grid;
   grid-template-columns: auto 1fr auto auto;
   align-items: center;
   gap: 1rem;
}

.downloads img {
   background-image: url(../assets/backgroud.png);
   image-rendering: pixelated;
   background-size: 16px;
   border-radius: .75rem;
}

.downloads img {
   display: block;
   max-width: 100%;
   padding: .5rem;
   height: 5rem;
}

.downloads a {
   border: 1px solid var(--clr-drk-4);
   background-color: var(--clr-lgh-2);
   border-radius: .125rem;
   text-align: center;
   padding: .25rem;
}

.colors {
   padding: 1rem 2rem;
}

.colors article {
   display: flex;
   flex-wrap: wrap;
   align-items: start;
   justify-content: space-around;
   font-size: large;
   padding: 1rem 0;
   gap: .5rem;
}

.colors article div {
   display: grid;
   grid-template-rows: 10rem auto;
   width: 15rem;
}

.colors article span {
   display: flex;
   padding: .25rem .5rem;
   background-position: center;
   background-size: cover;
   font-weight: bold;
   align-items: end;
}

.colors article span:first-child {
   border-bottom: 1px solid var(--clr-lgh-0);
}

.colors article span:last-child {
   transition: background-color .25s;
}

.colors article span:last-child:hover {
   background-color: #4c06ff77;
}

.colors article span:last-child:active {
   background-color: #0f07;
}

/* Outras Páginas */

.slogan {
   display: flex;
   flex-direction: column;
   color: var(--clr-drk-2);
   align-items: center;
   text-align: center;
   padding: 1rem;
}

.slogan h1 {
   color: var(--clr-drk-2);
}

.slogan picture {
   display: grid;
   position: relative;
   place-items: center;
   background-size: contain;
   background-image: url(../assets/logo_small.png);
   border: .25rem solid var(--clr-drk-2);
   background-color: var(--clr-drk-2);
   border-radius: .5rem;
   aspect-ratio: 1 / 1;
   margin: .25rem 0;
   height: 2rem;
}

.slogan picture::before,
.slogan picture::after {
   content: "";
   position: absolute;
   aspect-ratio: 30 / 1;
   background-color: var(--clr-drk-2);
   height: .125rem;
}

.slogan picture::before {
   translate: -100% 0;
}

.slogan picture::after {
   translate: 100% 0;
}

article {
   display: grid;
   padding: 1rem 2rem;
   gap: .5rem;
}

article:nth-of-type(2n) {
   background-color: var(--clr-lgh-3);
}

article:nth-of-type(2n) * {
   color: var(--clr-lgh-1);
}

/* Normal text style */

article.text p {
   text-align: justify;
}

article.text p .figure {
   display: block;
   background-color: var(--clr-drk-3);
   border-radius: 1rem;
   height: 15.75rem;
   padding: 2rem;
}

article.text p .figure.left {
   float: left;
   margin: 0 1rem 0 0;
}

article.text p .figure.right {
   float: right;
   margin: 0 0 0 1rem;
}

/* Where and when to find us style */

article.banner {
   grid-template-columns: auto 1fr;
   /* background-image: linear-gradient(90deg, transparent 20px, #7d69a7 40px, transparent 60px);
   animation: slide 4s linear infinite;
   background-size: 60px; */
   gap: 1rem;
}

article.banner h1 {
   grid-column: span 2;
}

article.banner .address {
   display: none;
}

.schedule {
   display: grid;
   grid-template-columns: auto 1fr;
   align-content: center;
   align-self: start;
   gap: 1rem;
}

.map {
   display: block;
   border-radius: 1rem;
   height: 20rem;
   width: 100%;
}

/* Footer style */

footer {
   background-color: var(--clr-drk-1);
   padding: .5rem .75rem;
}

footer * {
   color: var(--clr-lgh-0);
}

footer h1 {
   font: inherit;
   font-weight: bold;
   padding-bottom: .5rem;
}

footer .social {
   text-align: center;
}

footer .teams {
   display: flex;
   justify-content: space-around;
   padding: 0 1rem;
}

footer>:not(:first-child) {
   border-top: 2px solid var(--clr-lgh-0);
   padding-top: .5rem;
   margin-top: .5rem;
}

footer .license {
   text-align: center;
}

@media (hover: hover) {
   * {
      scrollbar-color: var(--clr-lgh-3) var(--clr-lgh-2);
      scrollbar-width: thin;
   }
}

@media only screen and (max-width: 650px) {
   header .logo {
      background-image: url(../assets/logo_small_black.png);
      aspect-ratio: 1 / 1;
   }

   article.banner {
      grid-template-columns: none !important;
   }

   article.banner h1 {
      grid-column: auto;
   }

   .address {
      display: block;
   }

   article.text p {
      display: flex;
      flex-direction: column;
   }

   article.text p .figure {
      float: none !important;
      margin: 0 !important;
      align-self: center;
   }

   footer .teams {
      flex-direction: column;
      gap: 1rem;
   }
}